body{
    font-family: "cairo", sans-serif;

}
.main-heading {
font-size: 40px;
font-weight: bolder;
position: relative;
margin: 70px auto;
max-width: fit-content; 
margin-top: 0;


}
.main-heading p::after{
    content: "";
    position: absolute;
    top: 0px;
    left: -15px;
    transform: translate(0, 0);
    width: 40px;
    height: 40px;
    border-top: 5px solid #437547;
    border-left: 5px solid #437547;
}
.main-heading p::before{
    content: "";
    position: absolute;
    bottom: 0px;
    right: -15px;
    transform: translate(0, 0);
    width: 40px;
    height: 40px;
    border-bottom: 5px solid #437547;
    border-right: 5px solid #437547;
}
.search{
    background-color: #000000a2;
    width: 100%;
    height: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    visibility: hidden;
    display: block;
    transition: all 0.5s ease-in-out;
}
.searchactive{
    visibility:visible;
    height: 100%;
}

.search input{
    padding: 10px;
    font-size: 24px;
    border: 1px solid white;
    float: left;
    width: 80%;
    background: transparent; 
    color: white; 
}
.search button{
    float: left;
    padding: 10px;
    background: transparent;
    color: white;
    font-size: 23px;
    border: 1px solid transparent;
    border-left: none;
    position: relative;
    left: -46px;
    transform: translateX(12%);
}
.navbar .buttons .search-glass:hover{
    background-color: #9c7c43;
}
.navbar .buttons .lang:hover{
    background-color: #9c7c43;
}
.search .mysearch{
    display: flex;
    justify-content: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.search form{
    width: 100%;
    height: 100%;
}
.search .closesearch .svg-inline--fa {
    font-size: 45px;
    color: #f8f9fa;
    position: absolute;
    top: 20px;
    right: 20px;
}
.search button:hover{
    color: black;
}
.navbar{
    background-color: white;
}
.navbar img{
    width: 100px;
    height: 100px;
}
.navbar .nav-link {
    color: black;
    font-weight: bold;
}
.navbar .search-glass{
    background-color: #437547;
    color: white;
}

.navbar .lang{
    background-color: #437547;
}
.buttons .search input[type=submit]{
    color: white;
}
.navbar .lang i{
    color: white;
    font-style: normal;
}
.navbar .buttons{
    width: 100px;
}
.navbar .buttons .search-glass{
    height: 40px;
    width: 35px;
}
.navbar .buttons .lang {
    height: 40px;
    width: 35px;
}
.navbar .collapse .active{
    background-color: #437547;
}
.navbar .collapse .active .nav-link{
    color: white;
}
.navbar .collapse .nav-item:hover{
background-color: #437547;
}
.navbar .collapse .nav-item .nav-link:hover {
color: white;
}
/* start landing */

.landing{
    position: relative;
    height: 600px;
    overflow: hidden;
}
@media (max-width:991px) {
    .about-us{
        position: relative;
    top: -40px;
    }
}
@media (max-width:550px) {
    .about-us{
        position: relative;
    top: -333px;
    }
}
@media (max-width: 756px){
.about-us {
    position: relative;
    top: -221px;
}
}
.landing img{
    object-fit: cover;
    height: 100%;
    max-height: 600px;
}
.landing .container p{
    color: white;
    font-size: 20px;
    
}
.landing .container button{
    background-color: #9c7c43;
    color: white;
    border: none;
    padding: 5px 20px;
}
.landing .container .text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.landing .container .text h1{
    font-weight: bolder;
    color: #f1ca83;
}
.landing .container .text p {
    font-size: 29px;
    font-weight: bold;
}
.landing button i {
    
    background-color: #9c7c43;
    font-size: 20px;
    color: white;
}

/* end landing */
/* start about us  */
.about-us{
    margin-top: 70px;
}

.about-us .container .row .img {
    background-image: url(../imgs/2.png);
    background-size: cover;
    height: 300px;
}

.about-us .container .row .txt h3{
color:#9c7c43;
font-weight: bold;
}
.about-us .container .row .txt p{
    font-size: 17px;
}

.about-us .container .row .list .one {
    background-color: #f1f1f1;
    width: 100%;
}
.about-us .container .row .list h3{
color: #9c7c43;
font-weight: bold;
padding: 20px;
}
.about-us .container .row .list ul li p {
    line-height: 1.7;
}
.about-us .container .row .list ul li img {
    width: 30px;
    height: 50px;
}
.about-us  .list .two button {
    background-color: #437547;
    color:white ;
    border: none;
    padding: 8px 30px;
    margin:0 auto ;
    display: table;
    margin-top: 70px;
}
/* end about us  */

/* start services  */
.services{
    background-color: #f4f4f4;
    padding-top: 20px;

}
.services .container .main-heading{
    margin: 70px auto;
}

.services .card{
    background-color: white;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 35px 35px;
    
}
.services .card h3{
    font-size: 35px;
}
.services .card p{
    font-size: 16px;
    padding: 20px 5px 0px;
    color: #a6a4a4;
}
.services .row {
    justify-content: space-around;

}

.services .card button{
    border: none;
    font-size: 16px;
    color: #9c7c43;
    background-color: white;

}
.services .card button:hover{
    color: #437547;
}
.services .card h3 {
    font-weight: bolder;
    color: black;
    position: relative;

}
.services .card h3::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 50%;
    height: 5px;
    background-color: #9c7c43;
    transition: 1s;
    transform: translateX(-50%);
}
.services .card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7px;
    background-color: #437547;
    transition: 1s;
    transform: translateX(-100%); 
}

.services .card:hover::before{
    transform: translateX(0);

    
}
.services .card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.services .card:hover h3::after{
    background-color:#437547;
    width: 100%;
}
@media (max-width: 767px){
.small-sc  {
    flex: 0 0 auto;
    width: 70%;
    margin: 0 auto;
}
}



/* end services  */
.projects{
    margin-bottom: 70px;

}
.projects .container .main-heading{
    margin: 70px auto;
}
.projects .row .pics {
    position: relative;
    overflow: hidden;
}
.projects .row .pics img {
    width: 100%;
}
.projects .row .small-sc a svg.svg-inline--fa.fa-magnifying-glass{
    color: white;
    font-size: 20px;
}
.projects .row .small-sc a{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%,-50%);
    background: #437547;
    text-align: center;
    line-height: 57px;
    display: none;
}
.projects .row .small-sc a:hover{
    background-color: #9c7c43;
}
.projects .row .small-sc .pics:hover a {
    display: block;
} 
.projects .small-sc{
    position: relative;
}
.projects .row .pics:hover .small-sc a{
    display: block !important;
}

.projects .more{
    justify-content: center;
    margin-top: 60px;
}
.projects .more button{
    padding: 8px 20px ;
    background-color: #9c7c43;
    color: white;
    text-align: center;
    border: none;

}
.projects .row .pics::before{
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #a2987b87;
    position: absolute;
    transition: 1s;
    transform: translateX(-104%);
}
.projects .row .pics:hover::before{
    transform: translateX(0);
}

/* start clients  */
.clients {
    background-color: #f4f4f4;
    padding: 70px 0;
    margin-top: 0;
}
/* end clients  */
/* footer  */
footer{
    background-image:url(../imgs/footer.png) ;
    background-size: cover;
    padding: 70px 0;
}

footer .lists .l-one h2{
color: #437547;
}
footer .lists .l-one li{
color: white;
list-style: none;
}

footer .lists .l-two h2{
color: #437547;
}
footer .lists .l-two li{
color: white;
list-style: none;
}
footer .list-fot ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding-bottom: 30px;
    border-bottom: 5px solid #9c7c43; 
}
footer .list-fot ul li i{
    color: white;
    background-color:#437547;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
}
footer .list-fot ul li{
    color: white;
    
}
footer .row {
    color: white;
}
footer .end {
    text-align: end;
}

/* end footer  */
/* slider footer  */
.owl-nav{
    position: absolute;
    bottom: -79px;
    left: 50%;
    transform: translateX(-50%);
}
.owl-nav button{
    color: white !important;
    background-color: #437547 !important;
    width: 30px;
    height: 30px;
    font-size: 20px !important;
    margin: 0 5px;  
}
button.carousel-control-next {
    right: 90px !important;
    left: auto;
    background: #437547;
    width: 50px;
    height: 50px;
    top: 35%;
    transform: translateY(-50%);
    opacity: 1;
}
button.carousel-control-prev {
    background:#437547;
    width: 50px;
    height: 50px;
    right: 90px !important;
    top: 45%;
    transform: translateY(-50%);
    opacity: 1;
}
button.carousel-control-prev:hover,
button.carousel-control-next:hover{
    background-color: #9c7c43;
}

.clients button:hover{
background-color: #9c7c43 !important;
}



/* slider footer  */
.back-to-top button .go-top {
    font-size: 35px;
    color: white;
}
.back-to-top button {
    background-color: #437547;
    padding: 5px;
    position: fixed;
    top: 90%;
    left: 95%;
    border: 1px solid gray;
}
.back-to-top button:hover{
    background-color: #9c7c43;
}
